
<div class="row">

    <div class="col-xs-12 col-sm-2- col-md-2 col-lg-2">
    <img src="../../../assets/Logos proyecto/Icono.jpeg" class="img-fluid"  id="icono"> 
</div>    
<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
    <p>Full Stack Developer Jr.</p>

</div>       
<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <span>
        <h1>Acerca de mi</h1>
    </span>
    <p>
        Hola! mi nombre es Martina y tengo 22 años. 
        Empecé a incursionar en el mundo de la programación sin darme cuenta a los 12 años,
         hasta que finalmente a los 20 descubrí que era lo que me gustaba hacer; con la formación de Argentina Programa 4.0  pude ampliar mis horizontes
        y pude elegir el camino que quería seguir aprendiendo. </p>
</div>
    </div>
