<div class="row">
<div class="container">

   <div class="logo">

    <img src="../../../../../HijarrubiaAP/src/assets/Logos proyecto/APLogo.png" id="logoAP">
   
</div>     

   
    <div class="redes">
        
            <a href="https://www.facebook.com/marti.hjr/"><img src="../../../assets/Logos proyecto/facebook.png" id="facebook"></a>
            <a href=""><img src="../../../assets/Logos proyecto/github.png" id="github"></a>
            <a href="https://www.instagram.com/ulwandle22/"><img src="../../../assets/Logos proyecto/instagram.png" id="instagram"></a>
            <a href="https://www.linkedin.com/in/martina-hijarrubia-663479221/"><img src="../../../assets/Logos proyecto/linkedin.png" id="linkedin"></a>
            <a href="https://twitter.com/Hjrkomorebi"><img src="../../../assets/Logos proyecto/twitter.png" id="twitter"></a>
        <button type="button" class="btn btn-outline-light">INGRESO</button>
    </div>
   </div>
</div>



