
<div class="row">

    <div class="col-xs-12 col-sm-2- col-md-2 col-lg-2">
    <img src="../../../assets/Logos proyecto/Icono.jpeg" class="img-fluid"  id="icono"> 
</div>    
<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <p id="nombre">Hijarrubia Martina Sol</p>
    <p>Full Stack Developer Jr.</p>

</div>       
<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <span>
        <h1>Acerca de mi!</h1>
    </span>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Labore, assumenda, quidem quam nisi molestiae maxime eligendi laborum ex adipisci sapiente voluptatem id cumque? 
        Ex odio eveniet harum at magni temporibus?</p>
</div>
    </div>
