
<div class="row">

    <div class="col-xs-12">
    <img src="../../../assets/Logos proyecto/Icono.jpeg" class="img-fluid">
</div>    
<div>
    <p>Hijarrubia Martina Sol</p>
    <p>Full Stack Developer Jr.</p>

</div>       
<div>
    <span>
        <h1>Acerca de mi!</h1>
    </span>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Labore, assumenda, quidem quam nisi molestiae maxime eligendi laborum ex adipisci sapiente voluptatem id cumque? 
        Ex odio eveniet harum at magni temporibus?</p>
</div>
    </div>
