<div class="row">

    <h1>Educación</h1>      
        
    <div  class="col-lg-11">
    <div class="col-lg-1">
        <ul>
        <li>
            <h1>Colegio secundario n° 62 "Rodolfo Walsh"</h1> - <h3>(2012-2018)</h3>
    
        </li>
        <p> Orientado a comuncación. promedio 8,8. </p>
            
                <li>
                    <h1>Universidad Nacional de La Plata</h1> - <h3>(2019-2023)</h3>
            
                </li>
                <p>Licenciatura en Trabajo Social, realizada hasta el 4 año. </p>
                    
                    
                        <li>
                            <h1>Formación Argentina Programa 4.0 </h1> - <h3>(2020-actualidad)</h3>
                    
                        </li>
                        <p>Desarrollo Full stack Dev. junior </p>
                            
                        </ul>
    
    
                        </div>
    </div>