<div class="row">

<h1>Experiencia laboral</h1>      
    


<div  class="col-lg-11">
<div class="col-lg-1">
    <ul>
    <li>
        <h1>Trabajo 1</h1> - <h3>(years)</h3>

    </li>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
        Perferendis iure quia obcaecati commodi saepe, deleniti quasi porro ipsa inventore ea dolorum! 
        Eaque, est cum. 
        Ea expedita non quisquam? Maiores, voluptate.</p>
        
        
            <li>
                <h1>Trabajo 2</h1> - <h3>(years)</h3>
        
            </li>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                Perferendis iure quia obcaecati commodi saepe, deleniti quasi porro ipsa inventore ea dolorum! 
                Eaque, est cum. 
                Ea expedita non quisquam? Maiores, voluptate.</p>
                
                
                    <li>
                        <h1>Trabajo 3</h1> - <h3>(years)</h3>
                
                    </li>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                        Perferendis iure quia obcaecati commodi saepe, deleniti quasi porro ipsa inventore ea dolorum! 
                        Eaque, est cum. 
                        Ea expedita non quisquam? Maiores, voluptate.</p>
                        </ul>


                    </div>
</div>

