<div class="row">
<h1>Proyectos realizados</h1> 
<div class="contenedor">
    <div class="col-sm-12 col-md-7 col-lg-7 parte1">
<h1>Proyecto Argentina Programa Front-end y Back-end</h1>
<p> Desarrollo de aplicación web full stack, que muestra datos personales, estudios cursados, experiencia laboral, conocimiento de las
    tecnologías con una arquitectura distribuida, la cual contiene un
    diseño de interfaz de usuario que muestra la información; una base de datos que almacena los datos antes mencionados y cuenta con
    con las APIs necesarias para proveer a través de internet la información </p>
    </div>

</div>   
</div>